<ul>
  <li>{{ level_1_toyota }}</li>
  <ul>
    <li>{{ level_2_toyota }}</li>
    {% for Hatchbackt in level_3_toyota %}
      <ul>
        <li>{{ Hatchbackt }}</li>
      </ul>
    {% endfor %}
  </ul>
  <ul>
    <li>{{ level_22_toyota }}</li>
    {% for Hatchbacktt in level_32_toyota %}
      <ul>
        <li>{{ Hatchbacktt }}</li>
      </ul>
    {% endfor %}
  </ul>
</ul>
<ul>
  <li>{{ level_1_volkswagen }}</li>
  <ul>
    <li>{{ level_2_volkswagen }}</li>
    {% for Hatchbackv in level_3_volkswagen %}
      <ul>
        <li>{{ Hatchbackv }}</li>
      </ul>
    {% endfor %}
  </ul>
  <ul>
    <li>{{ level_22_volkswagen }}</li>
    {% for Hatchbackvv in level_32_volkswagen %}
      <ul>
        <li>{{ Hatchbackvv }}</li>
      </ul>
    {% endfor %}
  </ul>
</ul>





